/* css released under Creative Commons ShareAlike License v1.0 - http://creativecommons.org/licenses/sa/1.0/  */

body {
    color:              #000000;
	background-color:   #fff;
/*     font:               72.5%/1.6 Verdana, "Trebuchet MS", sans-serif; */
	}

a {
	color:              #05087c;
    text-decoration:    none;
}

a:hover {
	color:              #777595;
    text-decoration:    underline;
}

div.bartab{
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

span.heading {
/* 	font-weight: bold; */
/* 	font-variant: small-caps; */
/* 	letter-spacing: 2px; */
}
span.content {
}

div.underline {
	height: 0px;
	border-bottom: 2px solid #369;
}

div.header {
	padding: 10px;
}

div.footer {
	/* position: fixed;
	bottom: 0px;
	*/
	padding: 10px;
	font-size: smaller;
                display: none;
}

div.history {
	overflow: visible;
}

/*div.history table td {
	border-top: 1px solid  #369;
}*/

div.history table th {
	border-bottom: 1px solid  #369;
}
